@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-family: "Poppins", sans-serif;
  --break-points: 1920px;
  --color-primary: #ffde88;
}

@layer base {
  html {
    font-family: var(--font-family);
  }

  body {
    background-color: #f9f9f9;
    overflow-x:hidden;
  }
}

.cloud-mask-1 {
  /* Use the cloud image as a mask */
  mask-image: var(--cloud-url);
  -webkit-mask-image: var(--cloud-url);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  
  /* The color of the cloud */
  background-color: white; 
}

.cloud-mask-2 {
  /* Use the cloud image as a mask */
  mask-image: var(--cloud-url);
  -webkit-mask-image: var(--cloud-url);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  
  /* The color of the cloud */
  background-color: white; 
}

/* This creates the "Shadow" layer you see in your image */
.cloud-wrapper {
    position: relative;
    display: inline-block;
}

.cloud-shadow {
    position: absolute;
    top: -10px; /* Offset for the blue shadow */
    left: 5px;
    background-color: rgba(209, 227, 248, 0.8); /* The light blue color */
    z-index: -1;
}

.input-box{
    @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}